/*
*
* Copyright (c) 2021 lowprokb.ca
* SPDX-License-Identifier: MIT
*
*/

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define QWERTY 0
#define NUMBER 1
#define SYMBOL 2
#define CONFIG 3

/ {
    combos {
        compatible = "zmk,combos";
        combo_ {
            timeout-ms = <50>;
            key-positions = <0 1>;
            bindings = <&kp ESC>;
        };
    };
};

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        label = "QWERTY";
                        bindings = <
   &kp TAB   &kp Q &kp W &kp E &kp R &kp T    &kp Y &kp U &kp I    &kp O   &kp P    &kp BKSP
   &kp LCTRL &kp A &kp S &kp D &kp F &kp G    &kp H &kp J &kp K    &kp L   &kp SEMI &kp QUOT
   &kp LSHFT &kp Z &kp X &kp C &kp V &kp B    &kp N &kp M &kp CMMA &kp DOT &kp FSLH &kp BSLH
              &kp LGUI &kp NUMBER &mo ENTER    &kp SPC &mo SYMBOL &kp RALT
                        >;
                };

                number_layer {
                        label = "NUMBER";
                        bindings = <
   &kp ESC    &kp N1       &kp N2       &kp N3       &kp N4       &kp N5           &kp N6 &kp N7   &kp N8    &kp N9    &kp N0    &kp DEL
   &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4     &none  &none    &kp UP    &none     &none     &none
   &kp LSHFT  &none        &none        &none        &none        &none            &none  &kp LEFT &kp DOWN  &kp RIGHT &none     &none
               &kp LGUI &mo NUMBER &kp ENTER                                       &kp SPC &mo SYMBOL &kp RALT
                        >;
                };

                symbol_layer {
                        label = "SYMBOL";
                        bindings = < 
   &kp TILDE &kp EXCL &kp AT &kp HASH &kp DLLR &kp PRCNT   &kp CARET &kp AMPS  &kp STAR  &kp LPAR &kp RPAR &kp BSPC
   &none &none &none &none &none &none                     &kp TILDE &kp UNDER &kp PLUS  &kp LBRC &kp RBRC &kp QUOT
   &none &none &none &none &none &none                     &kp GRAVE &kp MINUS &kp EQUAL &kp LBKT &kp RBKT &kp BSLH
              &mo CONFIG &kp NUMBER &mo ENTER              &kp SPC   &mo SYMBOL &kp RALT
                        >;
                };
        };
};